<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>GameDB-Delete</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<p id="hello-text" align="center">Baza gier komputerowych</p>

<table class="table-title" align="center">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Publisher</th>
    </tr>
    </thead>
    <tbody>
    <div th:each="game : ${gamesList}">
        <tr>
            <td><div th:text="${game.id}">Game ID: </div></td>
            <td><div th:text="${game.title}">Game title: </div></td>
            <td><div th:text="${game.publisher}">Game publisher: </div></td>
        </tr>
    </div>
    </tbody>
</table>
<a href="/index" class="myButton">Menu</a>

<form method="post">
    Game ID:
    <input type="number" placeholder="ID" name="id" th:field="*{gameKey.id}">
    <input type="submit" value="Usuń gre">
</form>
</body>
</html>